/* Styles used for loopback explorer customizations */

:root {
  --http-method-get: #0085a1;
  --http-method-post: #9063cd;
  --http-method-patch: #00c1d5;
  --http-method-put: #ff7f41;
  --http-method-delete: #d4470f;
  --http-method-head: #2ebb51;
}

.swagger-section .swagger-ui-wrap,
.swagger-section .swagger-ui-wrap b,
.swagger-section .swagger-ui-wrap strong,
.swagger-section .swagger-ui-wrap .model-signature,
.swagger-section .swagger-ui-wrap h1,
.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.text textarea,
.swagger-section .swagger-ui-wrap ul#resources,
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2,
.swagger-section .swagger-ui-wrap p#colophon,
.swagger-section .swagger-ui-wrap .markdown ul,
.model-signature {
  font-family: 'Roboto', helvetica, arial, sans-serif !important;
}

/* layout spacing and global colors */
body {
  padding: 3.35rem 0 !important;
  font-family: 'Roboto', helvetica, arial, sans-serif;
}

body #header {
  background-color: #e5e5e5 !important;
  position: fixed;
  padding: 1rem 0px !important;
  width: 100%;
  top: 0;
  z-index: 1;
}

body #header .swagger-ui-wrap {
  padding: 0 2rem;
}

body #header #logo {
  color: #444 !important;
}

body #header form#api_selector .input a#explore {
  background-color: #222 !important;
  cursor: pointer;
}


body #header form#api_selector .input a#explore:hover {
  background-color: #808080 !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations div.heading .path {
  font-family: 'Roboto Mono';
  font-size: 0.9rem;
}

pre code {
  font-family: "Roboto Mono";
}

/*  */

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading {
  background-color: #f5f5f5 !important;
  border: none !important;
  border-radius: 4px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 {
  line-height: 1.5rem !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Http Methods Pills */

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a {
  background-color: var(--http-method-get) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method a {
  background-color: var(--http-method-post) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span.http_method a {
  background-color: var(--http-method-patch) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.http_method a {
  background-color: var(--http-method-put) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.http_method a {
  background-color: var(--http-method-delete) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 span.http_method a {
  background-color: var(--http-method-head) !important;
}

/*  */

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading {
  border-bottom: 1px solid var(--http-method-get) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading {
  border-bottom: 1px solid var(--http-method-post) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading {
  border-bottom: 1px solid var(--http-method-patch) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading {
  border-bottom: 1px solid var(--http-method-put) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading {
  border-bottom: 1px solid var(--http-method-delete) !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading {
  border-bottom: 1px solid var(--http-method-head) !important;
}

.swagger-section .swagger-ui-wrap pre {
  background-color: #fff !important;
  border: none !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options {
  color: #333 !important;
  padding: 6px 0 !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li a {
  color: #222 !important;
}

li.operation.get .content > .content-type > div > label {
  color: #0085a1 !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content {
  background-color: #f5f5f5 !important;
  border: none !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content h4 {
  color: #222 !important;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content textarea.body-textarea {
  width: 280px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content textarea.body-textarea:focus {
  border: 1px solid var(--http-method-get);
  outline: none;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content span.model-signature div.signature-container div.description {
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  font-family: "Roboto Mono";
  font-size: 0.9rem;
  line-height: 1;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content span.model-signature div.signature-container div.description .propName {
  font-weight: normal !important;
}

/* Access Token widgets */

.accessTokenDisplay {
  color: #222;
  margin-right: 10px;
}
.accessTokenDisplay.set {
  border-bottom: 1px dotted #333; position: relative; cursor: pointer;
}
.accessTokenDisplay.set:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  white-space: nowrap;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.85);
  padding: 3px 7px;
  color: #FFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  right: 0;
  bottom: -30px;
}

/* JSON syntax highlighting */
.json, .json .attribute {
  color: black;
}

.json .value .string {
  color: #800;
}

.json .value .number, .json .value .literal {
  color: #080;
}

.contentWell {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Improve spacing when the browser window is small */
#message-bar, #swagger-ui-container {
  padding-left: 30px;
  padding-right: 30px;
}

#api_selector {
  padding: 0;
}
